<!DOCTYPE html>
<html>
  <head>
    <title>Presence</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body>

  <div ng-app="Presence" ng-controller="WorldCtrl">

  <div class="world">

    <div class="player"
         ng-repeat="player in players"
         ng-style="player.style"
         ng-mouseenter="player.tooltip = player.id==myPlayer.id ? ('Me ('+player.name+')') : player.name"
         ng-mouseleave="player.tooltip=''"
         >
      <p ng-if="player.tooltip">
        <br/>
        <span>{{player.tooltip}}</span>
      </p>
    </div>

  </div>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>
